<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste des plannings</title>
    <!-- Bootstrap -->
    <link href="/api/public/sources/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/api/public/sources/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/api/public/sources/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/api/public/sources/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/api/public/sources/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/api/public/sources/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/api/public/sources/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/api/public/sources/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/api/public/sources/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document.body).hide();
        var show = false;
        var token = localStorage.getItem('token');
        if (token != null || token != undefined) {
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('authorization', 'bearer ' + token);
                }
            });
        }

        $.ajax({
            type: "GET",
            url: "/api/token",
            success: function () {
                show = true;
            },
            error: function () {
                window.location.replace("/api/login");
            },
            async: false
        })


        if (show) {
            $(document.body).show();
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        socket = io.connect('http://localhost:3000', { query: 'fonction=Plannificateur' });
        socket.emit('viewAllMessages');
        socket.on('messages', function (newMessage) {
            $.toaster({ priority: 'danger', title: 'Nouveau Message', message: newMessage.text });
            socket.emit('messageRecu', newMessage);
            // mise à jour des derniers messages
            socket.emit('viewAllMessages'); 
        })
    </script>

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title"><i class="fa fa-paw"></i> <span>Swissport</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/api/public/sources/production/images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John D</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="/api/listePlanning"><i class="fa fa-home"></i> Liste des Plannings</a>
                                </li>
                                <li><a href="/api/upload"><i class="fa fa-edit"></i> Ajouter un Planning </a>
                                </li>
                                <li><a href="/api/accueilAg/Agent"><i class="fa fa-desktop"></i> Liste des agents</a>
                                </li>
                        </div>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/api/public/sources/production/images/user.png" alt="">John Doe
                    <span class=" fa fa-angle-down"></span>
                  </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="/api/login"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <script>
                            socket.on('allMessages',function(messages){
                                var myMessages=document.getElementById("myMessages");
                                myMessages.innerHTML='<div id="myMessages"></div>'
                                var  NbmsgToDisplay=6;
                                    for (var i=0;i<NbmsgToDisplay;i++){
                                        myMessages.innerHTML +='<div id="myMessages"><li><a><span class="message">'+ messages[i].text+' </span> </a></li></div>'
                                }
                                var nb=document.getElementById('nbMsg');
                                var x=messages.length;
                                nb.innerHTML += ' <span class="badge bg-green" >'+x+'</span>'
                            });
                            </script>
                            <div id="nbMsg"></div>
                  </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">                           
                 
                                <div id="myMessages"></div>
                      
                                    <li>
                                        <div class="text-center">
                                            <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="x_title">
                        <h3>Liste des Plannings</h3>
                    </div>

                    <% for(var i=0;i<plan.length;i++){ %>


                        <div class="col-md-4">
                            <div class="x_panel">
                                <div class="x_content">
                                    <article class="media event">
                                        <a class="pull-left date">
                                            <p class="month">
                                                <%=plan[i].annee %>
                                            </p>
                                            <p class="day">
                                                <%=plan[i].mois %>
                                            </p>
                                        </a>
                                        <div class="media-body">
                                            <a href="#">Id : <%=plan[i]._id %> </a>
                                            <br>
                                            <br>
                                            <a href="/api/planning/<%=plan[i].annee%>/<%=plan[i].mois%>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Afficher </a>
                                            <a href="/api/MAJplanningUpload/<%=plan[i].annee%>/<%=plan[i].mois%>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> MAJ </a>
                                            <button class="btn btn-danger btn-xs" name="<%=plan[i].annee%>/<%=plan[i].mois%>"><i class="fa fa-trash-o"></i> Supprimer </button>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <% } %>

                            <script>
                                $(document).ready(function () {
                                            $('.btn-danger').on('click', function (event) {
                                                event.preventDefault();
                                                var user_choice = window.confirm('Voulez-vous vraiment supprimer cet élément ? ');
                                                if (user_choice == true) {

                                                    var nom = $(this).attr('name');

                                                    $.ajax({
                                                        type: 'DELETE',
                                                        url: '/api/supprimerPlanning/' + nom,
                                                        success: function (data) {
                                                            location.reload();
                                                        }
                                                    })


                                                } else {


                                                    return false;


                                                }

                                                return false;
                                            });
                                        });
                            </script>


                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    This product is made for <a href="http://swissport.com/">Swissport</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="/api/public/sources/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/api/public/sources/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/api/public/sources/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/api/public/sources/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/api/public/sources/vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/api/public/sources/build/js/custom.min.js"></script>
    <script src="/api/public/sources/jquery.toaster.js"></script>



</body>

</html>