<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif/png" href="/api/public/sources/production/images/logo.png">

  <title> Profile |<%= person.prenom %>  <%= person.nom %></title>

  <!-- Bootstrap -->
  <link href="/api/public/sources/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/api/public/sources/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/api/public/sources/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="/api/public/sources/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/api/public/sources/build/css/custom.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/api/public/sources/production/images/logo2.png" type="image/x-icon">     
  
</head>

<body class="nav-md">
  <!-- le script pour le token de l'accés, l'utilisateur ne pourra pas acceder à cette page sans se connecter -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- pour la gestion des accès et obtention de la personne connectée -->
  <script>
    var logged = JSON.parse(localStorage.getItem('logged'));
    if (logged.fonction != "Administrateur") {
      window.location.replace("/api/echec");
    }
  </script>
  <!-- fin de la gestion des accés -->

  <script>
    $(document.body).hide();
    var show = false;
    var token = localStorage.getItem('token');

    if (token != null || token != undefined) {
      $.ajaxSetup({
        beforeSend: function (xhr) {
          xhr.setRequestHeader('authorization', 'bearer ' + token);
        }
      });
    }

    $.ajax({
      type: "GET",
      url: "/api/token",
      success: function () {
        show = true;
      },
      error: function () {
        window.location.replace("/api/login");
      },
      async: false
    })


    if (show) {
      $(document.body).show();
    }
  </script>
  <!-- fin du script de l'obligation de connexion -->
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="http://www.swissport.com" class="site_title"><img src="/api/public/sources/production/images/logo2.png" alt="Smiley face" style="float:left;width:42px;height:42px;margin-top:8px;margin-left:25px">  <span>   Swissport </span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="/api/public/sources/production/images/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span><font color="#bdbdbd" > Bienvenu(e)  </font></span>
              <h2>

                <script type="text/javascript">
                  document.write(logged.nom)
                </script>
                <script type="text/javascript">
                  document.write(logged.prenom)
                </script>

              </h2>





            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              
              <ul class="nav side-menu">



                <li><a><i class="fa fa-table"></i> Liste Administrateurs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">

                    <li><a href="/api/accueil/Administrateur">Afficher Administrateurs</a></li>
                    <li><a href="/api/registerAd">Ajouter Administrateur</a></li>


                  </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Liste Planificateurs <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="/api/accueil/Planificateur">Afficher Planificateurs </a></li>
                    <li><a href="/api/registerPl">Ajouter Planificateur</a></li>

                  </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Liste Agents <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="/api/accueilAg/Agent">Afficher Agents </a></li>
                    <li><a href="/api/registerAg">Ajouter Agent</a></li>
                    <li><a href="/api/importerAg">Importer liste Agents</a></li>
                    

                  </ul>
                </li>

              </ul>
            </div>


          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/api/public/sources/production/images/user.png" alt=""> <script type="text/javascript">
                      document.write(logged.nom)
                    </script> <script type="text/javascript">
                      document.write(logged.prenom)
                    </script>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li> <a href="/api/monProfile"> Mon profil </a> </li>



                  <li><a href="/api/login"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                </ul>
              </li>

              
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
                <h3><font color="#be302d" > Afficher un compte </font> <small></small></h3>
            
            </div>

            <div class="title_right">

            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2> Le profil de
                  <%= person.prenom %> </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <!-- ici inserer mon ajax de la base de donnée -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>




                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                  <div class="profile_img">
                    <div id="crop-avatar">
                      <!-- Current avatar -->
                      <img class="img-responsive avatar-view" src="/api/public/sources/production/images/user.png" alt="Avatar" title="Change the avatar">
                    </div>
                  </div>


                  <h3>
                    <%= person.nom %>
                      <%= person.prenom %>
                  </h3>

                  <ul class="list-unstyled user_data">
                    <!-- <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                        </li> -->

                    <!--<li>
                          <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                        </li> -->

                    <!--<li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                        </li> -->
                  </ul>
                  <!-- cas où c'est un administrateur -->
                  <%if ( person.fonction == 'Administrateur') { %>
                    <a href="/api/modifProfilAd/<%= person._id %>" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Modifier profil</a>


                    <% } %>

                      <!-- cas où c'est un planificateur -->
                      <%if ( person.fonction == 'Planificateur') { %>
                        <a href="/api/modifProfilPl/<%= person._id %>" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Modifier profil </a>



                        <% } %>



                          <br />

                          <!-- start skills -->

                          <!-- end of skills -->

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">

                  <div class="profile_title">
                    <div class="col-md-6">
                      <h2>Les informations </h2>
                    </div>

                  </div>
                  <!-- start of user-activity-graph -->
                  <!--<div id="graph_bar" style="width:100%; height:280px;"></div>
                      <!-- end of user-activity-graph -->

                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Informations personnelles </a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Informations professionnelles </a>
                      </li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                        <!-- start recent activity -->
                        <ul class="messages">
                          <li>
                            <img src="/api/public/sources/production/images/person.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">Nom</h4>
                              <blockquote class="message">
                                <%= person.nom %>
                              </blockquote>
                              <br />

                            </div>
                          </li>
                          <li>
                            <img src="/api/public/sources/production/images/person.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">Prenom </h4>
                              <blockquote class="message">
                                <%= person.prenom %>
                              </blockquote>
                              <br />

                            </div>
                          </li>
                          <li>
                            <img src="/api/public/sources/production/images/person.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">Sexe</h4>
                              <blockquote class="message">
                                <%= person.sexe %>
                              </blockquote>
                              <br />

                            </div>
                          </li>
                          <li>
                            <img src="/api/public/sources/production/images/Bday.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">Date de naissance</h4>
                              <blockquote class="message">
                                <%= person.dateDeNaissance %>
                              </blockquote>
                              <br />

                            </div>
                          </li>



                        </ul>
                        <!-- end recent activity -->

                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                        <!-- start user projects -->
                        <ul class="messages">
                          <li>
                            <img src="/api/public/sources/production/images/phone.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">Téléphone</h4>
                              <blockquote class="message">
                                <%= person.telephone %>
                              </blockquote>
                              <br />

                            </div>
                          </li>
                          <li>
                            <img src="/api/public/sources/production/images/email.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">email </h4>
                              <blockquote class="message">
                                <%= person.email %>
                              </blockquote>
                              <br />

                            </div>
                          </li>
                          <li>
                            <img src="/api/public/sources/production/images/job.png" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                              <h4 class="heading">Fonction</h4>
                              <blockquote class="message">
                                <%= person.fonction %>
                              </blockquote>
                              <br />

                            </div>
                          </li>


                        </ul>

                        <!-- end user projects -->

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Swissport 2017 - <a href="https://swissport.com">Swissport</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
  </div>

  <!-- jQuery -->
  <script src="/api/public/sources/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/api/public/sources/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/api/public/sources/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/api/public/sources/vendors/nprogress/nprogress.js"></script>
  <!-- morris.js -->
  <script src="/api/public/sources/vendors/raphael/raphael.min.js"></script>
  <script src="/api/public/sources/vendors/morris.js/morris.min.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="/api/public/sources/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="/api/public/sources/vendors/moment/min/moment.min.js"></script>
  <script src="/api/public/sources/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/api/public/sources/build/js/custom.min.js"></script>

</body>

</html>